.root {
    width: 100%;
    min-height: 100vh;
    max-width: 1280px;
    margin: auto;
    background-color: aquamarine;
    padding: 16px;
}

.paragraphBlock {
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    padding: 16px;
    background-color: antiquewhite;
    margin-bottom: 24px;
}

.noteBlock {
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    padding: 16px;
    background-color:azure;
    margin-bottom: 24px;
}
